.about{
    &__container{
        display:flex;
        justify-content: center;
        gap:64px;
    
    }

    &__list{
        display:flex;
        justify-content: center;
        gap:30px;
    }
    &__right-side{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;

    }

    &__under-title{
        margin-bottom:20px;
        color:$dark-txt-cl;
        @include font(400,18px,calc(30/18),0.02em);
    }

    &__title-text{
        margin-bottom:40px;
        @include font(400,14px,calc(26/14),0.02em);
    
    }
}
