.booking{
    max-width: 1280px;
    margin:0 auto;
    color:$light-txt-cl;

    &__container{
        display:flex;
        justify-content: baseline;
         align-items: center;
        
        
    }
    &__btn.btn{
        color:$light-txt-cl;
        padding:12px 38px;
        width:160px;
    } 

    &__form-container{
        width:640px;
        height: 644px;
        padding:130px 50px;
        background-color: rgba(9, 11, 19,0.95);
    }
    &__form{
        display:flex;
        flex-direction: column;
        
        & input{
            width:255px;
            background-color:transparent;
            border:none;
            border-bottom: 1px solid $grey-cl;
            @include font(600,11px,calc(15/11),0.1);
            color:$grey-cl;
            text-transform: uppercase;
            

            &::placeholder{
                @include font(600,11px,calc(15/11),0.1);
            }
            &:focus{
                outline:none;
                color:$grey-cl;
                text-transform: uppercase;
            }
            
        }
        & textarea{
            width:100%;
            background-color: transparent;
            border:none;
            border-bottom: 1px solid $grey-cl;
            resize: none;
            @include font(600,11px,calc(15/11),0.1);
            color:$grey-cl;
            text-transform: uppercase;
            margin-bottom: 44px;

            &::placeholder{
                @include font(600,11px,calc(15/11),0.1);
            }
            &:focus{
                outline:none;
                color:$grey-cl;
                text-transform: uppercase;
            }
        }
    }
   
    &__phone-name{
        display: flex;
        gap:30px;
        margin-bottom:44px;
    }
    &__social-net{
        display: flex;
        gap:20px;
    }

    &__contact{
        width:640px;
        height: 644px;
        padding:130px 0;
        padding-left: 100px;
        @include font(400,18px,calc(30/18),0.02);
        background-image: linear-gradient(180deg, rgb(9, 11, 19,0.96) 0%, rgba(9, 11, 19, 0.4) 100%),url("../images/bcg_footer\ .jpg");
        background-repeat: no-repeat;
        background-position: right top;
        color:$grey-cl;

        &-list{
            display:flex;
            flex-direction: column;
            gap:20px;
            margin-bottom:70px;
            color:$grey-cl;    
            
        }

        & .main__title{
            color:$light-txt-cl;
        }
        & .upper__title{
            color:$light-txt-cl;
        }

        &schedule{
            margin-top: 20px;
        }
        
    }

    &__social-net{
        display: flex;
        gap:15px;
        margin-top:20px;

        & .link-icon{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width:44px;
            height:44px;
            border-radius: 50%;
            color:$dark-bg-cl;
            background-color: $grey-cl;
            @include transition(color);
            // @include transition(background-color);  

            &:hover,&:focus{
                color: $accent-txt-cl;
                background-color: $grey-cl;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            }

            & .icon{
                width:20px;
                height:20px;
                fill:currentColor;
            }
        }
    }
}

.contact{

    &__link{
        display: flex;
        align-items: center;
        gap:16px;

        &__underlined{
            display: flex;
            align-items: center;
            gap:16px;
            text-decoration: underline;
        }

    }

    &__icon{
        display:inline-block;
        color:$grey-cl;
        fill:currentColor;
        stroke:currentColor;
        width:24px;
        height:24px;
    }
}