.team-members{
    background-color:#F7F7F7
}
.card{
    width: 370px;
    height:502px;
}

.link-icon{
    width:44px;
    height:44px;
    border-radius:50%;
    color:burlywood;
}

.social-net.flex-container{
    padding:0;
    gap:10px;
}