// Fonts  
$primary-font:'Open Sans','sans-serif';
$secondary-font:'Raleway','sans-serif';

// Text Colors 
$main-txt-cl:#303030;
$accent-txt-cl:#ff6c00;
$light-txt-cl:#ffffff;
$dark-txt-cl:#555555;


$grey-cl: #9DA4BD;
$grey-cl-60: rgba(157, 164, 189, 0.6);

//  bcg colors
$dark-bg-cl: #191c26;
$accent-bg-cl: #ff6c00;