<section class="about" id="about">
    <div class="container">
      <h2 class="is-hidden">About Us</h2>
      <div class="about__container section">
        <div class="about-img">
          <ul class="about__list">
            <li class="item">
              <img
                src="./images/barber_about1.jpg"
                alt="what we do1"
              />
            </li>
            <li class="item">
              <img
                src="./images/barber_about2.jpg"
                alt="what we do2"
              />
            </li>
          </ul>
        </div>
        <div class="about__right-side">
          <p class="upper__title">About</p>
          <h2 class="main__title">The best Barbershop in the city</h2>
          <p class="about__under-title">
            If you want to add more confidence to your image, you are definitely in the right place.
          </p>
          <p class="about__title-text">
            We are a team that never rests on its laurels and yearns for change. And once you fall into the hands of our master,
            you will never be the same again. We are a team that is always on the same wavelength with clients. Therefore, we are
            always ready to improve everyone who comes to us!
          </p>
          <a class=" btn" href="#">Book a service</a>
        </div>
      </div>
    </div>
  </section>