<section class="benefits section" id="benefites">
    <div class="container">
      <h2 class="is-hidden">Our Perks</h2>
      <div class="benefites__container">

        <div class="benefites__left">
          <ul class="benefites__list">
            <li class="benefites__item">
              <p class="benefites__quantity">100<sup class="decor">+</sup></p>
              <p class="benefites__text">Satisfied client per day</p>
            </li>
            <li class="benefites__item">
              <p class="benefites__quantity">20<sup class="decor">+</sup></p>
              <p class="benefites__text">Awards for excellent service</p>
            </li>
          </ul>
        
        
          <ul class="benefites__list">
            <li class="benefites__item">
              <p class="benefites__quantity">50<sup class="decor">+</sup></p>
              <p class="benefites__text">Toronto's best barbers</p>
            </li>
            <li class="benefites__item">
              <p class="benefites__quantity">40<sup class="decor">+</sup></p>
              <p class="benefites__text">Gifts for premanent clients</p>
            </li>
          </ul>
        </div>
        
        <div class="benefites__right">
          <p class="upper__title">The Old school traditions</p>
          <h3 class="main__title">Why does everybody come to us?</h3>
          <p>
            Only good things are said about us. But it's better to see and feel 1 time than read
            10 times.
          </p>
        </div>
      </div>
    </div>
  </section>