<!-- Booking & Contacts -->
<section class="booking" id="contact">
    <div class="container">
      <div class="booking__container">
        <div class="booking__form-container" id="book-service">
          <h2 class="main__title">Online-booking</h2>
          <form class="booking__form">
            <div class="booking__phone-name">
              <lable> <input type="text" placeholder="NAME" /></lable>
              <lable><input type="tel" placeholder="PHONE" /></lable>
            </div>
            <lable>
              <textarea type="text" rows="2" placeholder="MESSAGE"></textarea>
            </lable>
            <button class="booking__btn btn" type="submit">Send</button>
          </form>
        </div>
        <div class="booking__contact">
          <h2 class="main__title">Contacts</h2>
          <address class="contact">
            <ul class="booking__contact-list">
              <li>
                <a href="" class="contact__link"
                  >
                  <svg class="contact__icon">
                    <use href="./images/icon.svg#map-pin"></use>
                  </svg>Main Street, 7A Toronto, 08132</a
                >
              </li>
              <li>
                
                <a href="tel:+380441111111" class="contact__link"
                  >
                  <svg class="contact__icon">
                    <use href="./images/icon.svg#phone"></use>
                  </svg>
                  +38 044 111 11 11</a
                >
              </li>
              <li>
                
                <a
                  href="mail:barbershop@email.com"
                  class="contact__link__underlined"
                  >
                  <svg class="contact__icon">
                    <use href="./images/icon.svg#mail"></use>
                  </svg>
                  barbershop@email.com</a
                >
              </li>
            </ul>
          </address>
          <p class="upper__title">working hours</p>
          <p class="contact__schedule">
            Every day from <time datetime="09:00">9:00</time> to
            <time datetime="22:00">22:00</time>
          </p>
          <ul class="booking__social-net">
            <li>
              <a href="" class="link-icon">
                <svg class="icon">
                <use href="./images/icon.svg#instagram"></use>
              </svg>
              </a>
            </li>
            <li>
              <a href="" class="link-icon">
                <svg class="icon">
                <use href="./images/icon.svg#twitter"></use>
              </svg>
              </a>
            </li>
            <li>
              <a href="" class="link-icon">
                <svg class="icon">
                <use href="./images/icon.svg#facebook"></use>
              </svg>
              </a>
            </li>
            <li>
              <a href="" class="link-icon">
                <svg class="icon">
                <use href="./images/icon.svg#linkedin"></use>
              </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>