<header class="header">
    <div class="header__container container">
      <a class="header__logo" href="./index.html"
        ><svg
          class="animate__animated animate__fadeIn animate__slow logo__icon"
          width="69"
          height="55"
        >
          <use href="./images/svg/icons.svg#Logo"></use></svg></a>

      <div
        class="header__nav-container"
      >
        <nav class="header__nav animate__animated animate__fadeInRight">
          <ul class="site-nav list">
            <li class="item"><a class="link" href="#about">About</a></li>
            <li class="item">
              <a class="link" href="#price">Service and Prices</a>
            </li>
            <li class="item"><a class="link" href="#team">Barbers</a></li>
            <li class="item"><a class="link" href="#contact">Contacts</a></li>
          </ul>
        </nav>

        <div class="contact-cont animate__animated animate__fadeIn">
          <a class="phone link" href="tel:+48654987321">+48 654 987 321</a>
          <a class="btn btn-theme-dark link" href="#book-service"
            >Book a service</a
          >
        </div>
      </div>
    </div>
  </header>