<section class="price section" id="price">
    <div class="price__container container">
      
        <p class="upper__title">Spend time in invironment of the best Barbers</p>
        <h2 class="main__title">Prices and Service</h2>
        <div class="price__block">
          
            <ul class="price__list">
              <li class="price__item">Men’s haircut <span class="line"></span> from 300 cad.</li>
                    <li class="price__item">Beard trim <span class="line"></span> from 300 cad.</li>
                    <li class="price__item">Mustache trim <span class="line"></span> from 200 cad.</li>
                    <li class="price__item">
                        Straight razor shave <span class="line"></span> from 200 cad.
                    </li>
            </ul>
            <ul class="price__list">
              <li class="price__item">Trainee’s haircut <span class="line"></span> from 150 cad.</li>
                    <li class="price__item">
                        Haircut under the nozzle <span class="line"></span> from 200 cad.
                    </li>
                    <li class="price__item">
                        Children’s haircut (0-12 y.o.) <span class="line"></span> from 300 cad.
                    </li>
                    <li class="price__item">
                        Camouflage of gray hair <span class="line"></span> from 200 cad.
                    </li>
            </ul>
          
        </div>
        <div class="price__book-service">
            <a class="btn" herf="#">Book a service</a>
        </div>
    </div>
  </section>